<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corry.admin.service.UserMapper" >
  <resultMap id="BaseResultMap" type="com.corry.admin.pojo.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="deptid" property="deptid" jdbcType="INTEGER" />
    <result column="positionid" property="positionid" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="loginip" property="loginip" jdbcType="VARCHAR" />
    <result column="islock" property="islock" jdbcType="VARCHAR" />
    <result column="failnum" property="failnum" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, email, sex, password, telephone, role, nickname, deptid, positionid, 
    picture, createtime, status, loginip, islock, failnum, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corry.admin.pojo.User" >
    insert into sys_user (userid, username, email, 
      sex, password, telephone, 
      role, nickname, deptid, 
      positionid, picture, createtime, 
      status, loginip, islock, 
      failnum, remarks)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{deptid,jdbcType=INTEGER}, 
      #{positionid,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{loginip,jdbcType=VARCHAR}, #{islock,jdbcType=VARCHAR}, 
      #{failnum,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corry.admin.pojo.User" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="positionid != null" >
        positionid,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="loginip != null" >
        loginip,
      </if>
      <if test="islock != null" >
        islock,
      </if>
      <if test="failnum != null" >
        failnum,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="positionid != null" >
        #{positionid,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        #{islock,jdbcType=VARCHAR},
      </if>
      <if test="failnum != null" >
        #{failnum,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corry.admin.pojo.User" >
    update sys_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="positionid != null" >
        positionid = #{positionid,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        loginip = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        islock = #{islock,jdbcType=VARCHAR},
      </if>
      <if test="failnum != null" >
        failnum = #{failnum,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corry.admin.pojo.User" >
    update sys_user
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      deptid = #{deptid,jdbcType=INTEGER},
      positionid = #{positionid,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      loginip = #{loginip,jdbcType=VARCHAR},
      islock = #{islock,jdbcType=VARCHAR},
      failnum = #{failnum,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <select id="login" parameterType="dto" resultType="com.corry.admin.pojo.User">
    select * from sys_user where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="findUserBylogin" parameterType="dto" resultType="com.corry.admin.pojo.User">
    select * from sys_user where username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>